body {
    font-family: 'Arial', sans-serif; 
    background-color: #3fa2ff;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px;
}

header {
    background-image: url(palm.jpg);
    background-origin: padding-box; 
    background-clip: content-box; 
    height: 200px;
    color: rgb(222, 0, 0);
    border: 12px solid #27e640;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Georgia', serif; 
    font-size: 2.5em; 
    font-weight: bold; 
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    margin: 0;
}

nav {
    margin: 20px 0; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline; 
    margin-right: 15px; 
}

nav a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
}

nav a:hover {
    color: #000000; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
}

main {
    padding: 20px; 
}

h2 {
    font-family: 'Georgia', serif; 
    font-size: 1.8em; 
    font-style: italic; 
    line-height: 1.5; 
    margin-top: 0;
}

.float-left {
    float: left; 
    margin-right: 20px; 
    margin-bottom: 20px; 
}

img {
    width: 250px; 
    height: auto; 
    display: block; 
}


footer {
    text-align: center; 
    margin-top: 20px; 
    padding: 10px;
    background-color: #ffe100; 
    color: rgb(0, 0, 0); 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
